:root {
  --secondary-font: "Raleway", sans-serif;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --element-background-color: #2f303a;
  --element-color: #ffffff;
  --body-color: #212121;
  --logo-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --border-bottom-color: #ececec;
  --border-project-color: #eeeeee;
  --margin-card: 30px;
  --hero-background: #c4c4c4;
  --hero-gradient-left: rgba(47, 48, 58, 0.4);
  --hero-gradient-right: rgba(58, 47, 47, 0.4);
  --icon-color: #afb1b8;
  --social-background: rgba(255, 255, 255, 0.1);
  --background-thumb: rgba(47, 48, 58, 0.8);
  --background-overlay: rgba(33, 150, 243, 0.9);
  --modal-close-border: rgba(0, 0, 0, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-input: rgba(255, 255, 255, 0.3);
  --botton-shadow: rgba(0, 0, 0, 0.15);
  --modal-border: rgba(33, 33, 33, 0.2);
  --modal--color: rgba(117, 117, 117, 0.5);

}




body {
  font-family: "Roboto", sans-serif;
  color: var(--body-color);
  letter-spacing: 0.03em;
}

/* normalize */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}

/* Components */
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}

.navigation-link.current {
  color: var(--accent-color);
}

.navigation-link.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* WebStudio лого*/
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo > span {
  color: var(--logo-color);
}
.footer .logo > span {
  color: var(--element-color);
}

/* Header style */
.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  border-bottom: 1px solid var(--border-bottom-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  position: relative;
  color: inherit;
  padding: 32px 0;
  transition: color 250ms var(--cubic);
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  color: var(--secondary-text-color);
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic);
}
.contact-mail {
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: currentColor;
}
.contact-phone {
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}
.navigation-link:hover,
.navigation-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--hero-background);
  letter-spacing: 0.06em;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      var(--hero-gradient-left),
      var(--hero-gradient-right)
    ),
    url(../images/background-hero.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin: auto;
}
.hero .container {
  padding-top: 195px;
  padding-bottom: 196px;
  text-align: center;
}
.hero-title {
  width: 696px;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto 40px;
  color: var(--element-color);
}
.hero-button {
  background-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  padding: 10px 32px;
  color: var(--element-color);
  transition: background-color 250ms var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-button-color);
}

/* Section features */
.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: calc(-1 * var(--margin-card));
  margin-top: calc(-1 * var(--margin-card));
}
.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  margin-bottom: 10px;
}
.features-item {
  margin-left: var(--margin-card);
  margin-top: var(--margin-card);
  flex-basis: calc(100% / 4 - var(--margin-card));
}
.features-desc {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: var(--secondary-text-color);
}
.features-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-icon {
  width: 70px;
  height: 70px;
}

/* Section work*/
.work .section {
  padding-top: 0;
}
.work-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-card));
  margin-top: calc(-1 * var(--margin-card));
}
.section-title {
  margin-bottom: 50px;
}
.work-item {
  margin-left: var(--margin-card);
  margin-top: var(--margin-card);
}
.work-thumb {
  position: relative;
}
.work-text {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 27px 0;
  background-color: var(--background-thumb);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--element-color);
}

/* Team */
.team {
  background-color: var(--secondary-background-color);
}
.section-title {
  margin-bottom: 50px;
}
.team-member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.team-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-card));
  margin-top: calc(-1 * var(--margin-card));
}
.team-item {
  background: var(--element-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: var(--margin-card);
  margin-top: var(--margin-card);

  flex-basis: calc(100% / 4 - var(--margin-card));
}
.team-text {
  padding: 30px 32px;
}
.member-specialty {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.icon-list {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}
.icon-box:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--element-color);
}

/* Clientele */

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition: border-color 250ms var(--cubic), fill 250ms var(--cubic);
}
.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--element-background-color);
}
.footer-style {
  display: flex;
  align-items: baseline;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  margin-top: 20px;
  margin-right: 70px;
}
.address-city {
  color: var(--element-color);
  margin-bottom: 9px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  color: var(--address-color);
}
.footer-social-link {
  margin-right: 93px;
}

.footer-social-link .features-title {
  margin-bottom: 20px;
  color: var(--element-color);
}

.footer-social-link .social-link {
  fill: var(--element-color);
  background: var(--social-background);
  transition: background-color 250ms var(--cubic);
}

.footer-social-link .social-link:hover,
.footer-social-link .social-link:focus {
  background-color: var(--accent-color);
}

/* футер подписка*/

.footer-subscription {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  color: var(--element-color);
  margin-bottom: 20px;
}
.subscription-conteiner {
  display: flex;
}
.input-subscription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  color: var(--element-color);
  border: 1px solid var(--modal-input);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  padding-left: 16px;
  margin-right: 12px;
  outline: none; 
}
.input-subscription:focus {
  border-color: var(--accent-button-color);
}
.button-subscription:hover,
.button-subscription:focus 
{
   background-color: var(--accent-button-color);
}

.button-subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-style: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: var(--element-color);
    transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);

}

.subscription-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Filters button */
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  background-color: var(--secondary-background-color);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}
.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--element-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects list */
.projects-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-card));
  margin-top: calc(-1 * var(--margin-card));
}
.projects-item {
  margin-left: var(--margin-card);
  margin-top: var(--margin-card);
}

.projects-item:hover,
.projects-item:focus,
.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transform: translateY(0);
  opacity: 1;
}

.projects-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}
.projects {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  color: var(--secondary-text-color);
}
.project-style {
  padding: 20px 24px;
  border-right: 1px solid var(--border-project-color);
  border-bottom: 1px solid var(--border-project-color);
  border-left: 1px solid var(--border-project-color);
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  opacity: 0;
  color: var(--element-color);
  background-color: var(--background-overlay);
  transform: translateY(100%);
  transition: box-shadow 250ms var(--cubic), transform 250ms var(--cubic),
    opacity 250ms var(--cubic);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 500ms var(--cubic);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: var(--element-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 500ms var(--cubic), visibility 500ms var(--cubic);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-close-border);
  background: transparent;
  cursor: pointer;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.close-icon {
  width: 11px;
  height: 11px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*===================================
==



Модальне вікно



==
======================================*/

.model-title {
display: block;
font-size: 20px;
line-height: 1.15;
text-align: center;
margin-bottom: 12px;
}
.input-modal {
display: inline;
width: 100%;
height: 40px;
border: 1px solid var(--modal-border);
border-radius: 4px;
padding-left: 42px;
}
.label-text {
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--secondary-text-color);
outline: none; 



}
.input-icon {
position: absolute;
top: 11px;
left: 12px;
width: 18px;
height: 18px;
fill: var(--body-color);
}
.input-container {
position: relative;
margin-top: 4px;
margin-bottom: 10px;
}

.input-modal:hover,
.input-modal:focus,
.input-modal:hover +.input-icon,
.input-modal:focus +.input-icon {
border-color: var(--accent-color);
fill: var(--accent-color);
}

.model-area {
width: 100%;
height: 120px;
border: 1px solid var(--modal-border);
border-radius: 4px;
resize: none;
margin-top: 4px;
margin-bottom: 20px;
padding: 12px 16px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;
color: var(--modal-color);
}
.model-area:hover,
.model-area:focus {
  border-color: var(--accent-color);
}


.form-checkbox {
  margin-bottom: 30px;
}


.modal-desk {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #757575;
}
.modal-desk::before {
  display: block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  cursor: pointer;
}
.modal-desk:checked:checked + .modal-desk::before {
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}
.modal-desk:focus + .modal-desk::before {
  box-shadow: 0 0 0 2px var(--accent-color);
}
.modal-link {
  color: var(--accent-color);
}

.modal-button {
position: absolute;
left: 50%;
transform: translate(-50%);
bottom: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-self: center;
  padding: 10px 55px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-button-color);
  color: var(--element-color);
  cursor: pointer;
  transition: color 250ms var(--cubic);
}