body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}

/* --------------------- */
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

/* --------------------- */

/* WebStudio лого*/
.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
}
.logo > span {
  color: #000000;
}
.footer .logo > span {
  color: #ffffff;
}

/* Header style */
.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
}
.navigation-link {
  color: #212121;
}
.contact-link {
  color: #757575;
}
.navigation-link:hover,
.navigation-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

/* Hero */

.hero {
  background-color: #2f303a;
}
.hero-title {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
.hero-button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
.hero-button:hover {
  background-color: #188ce8;
}

/* Section features */

.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}
.features-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

/* Section work*/

/* Team */

.team-member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
.member-specialty {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

/* Footer */
.footer {
  background-color: #2f303a;
}
.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.address-city {
  color: #ffffff;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
}

/* Filters button */

.filters-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* Projects list */

.projects-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.projects {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
