.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: $elementColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 500ms $cubic, visibility 500ms $cubic;
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $modalcloseborder;
    background: transparent;
    cursor: pointer;
  }
  &__close-icon {
    width: 11px;
    height: 11px;
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scaleY(0);
  }
}
