.modal-form__button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px $bottonShadow;
  align-self: center;
  padding: 10px 55px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: $accentColor;
  color: $elementColor;
  cursor: pointer;
  transition: background-color 350ms $cubic;
  &:focus,
  &:hover {
    background-color: $accentbutton–°olor;
  }
}
