.social-list {
  display: flex;
  justify-content: center;
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $iconColor;
    transition: background-color 250ms $cubic, fill 250ms $cubic;
  }
  &__box:not(:last-child) {
    margin-right: 10px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $iconColor;
    transition: background-color 250ms $cubic, fill 250ms $cubic;
    &:hover,
    &:focus {
      background-color: $accentColor;
      fill: $elementColor;
    }
    .footer-social-link & {
      fill: $elementColor;
      background: $socialbg;
      transition: background-color 250ms $cubic;
    }

    .footer-social-link &:hover,
    .footer-social-link &:focus {
      background-color: $accentColor;
    }
  }
  &__box:not(:last-child) {
    margin-right: 10px;
  }
}
