.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  .header & {
    display: flex;
    align-items: center;
  }
  .hero & {
    padding-top: 195px;
    padding-bottom: 196px;
    text-align: center;
  }
  .footer & {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
