$secondaryFont: "Raleway", sans-serif;
$secondaryColor: #757575;
$secondary-bgColor: #f5f4fa;
$accentColor: #2196f3;
$accentbuttonСolor: #188ce8;
$elementbgСolor: #2f303a;
$elementColor: #ffffff;
$bodyСolor: #212121;
$logoColor: #000000;
$addressColor: rgba(255, 255, 255, 0.6);
$border-btmColor: #ececec;
$border-projectColor: #eeeeee;
$herobg: #c4c4c4;
$hero-gradientLeft: rgba(47, 48, 58, 0.4);
$hero-gradientRight: rgba(58, 47, 47, 0.4);
$iconColor: #afb1b8;
$socialbg: rgba(255, 255, 255, 0.1);
$thumbbg: rgba(47, 48, 58, 0.8);
$overlaybg: rgba(33, 150, 243, 0.9);
$modalcloseborder: rgba(0, 0, 0, 0.1);
$backdropColor: rgba(0, 0, 0, 0.2);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$modalInput: rgba(255, 255, 255, 0.3);
$bottonShadow: rgba(0, 0, 0, 0.15);
$modalBorder: rgba(33, 33, 33, 0.2);
$modalColor: rgba(117, 117, 117, 0.5);
$backing: 30px;
