.features-list {
  display: block;
  align-items: center;
  padding-bottom: 60px;
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__desc {
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: $secondaryColor;
    padding: auto 25px;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $secondary-bgColor;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__item {
    margin-top: $backing;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
  .features-list__item {
    margin-left: $backing;
    margin-top: $backing;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
  .features-list__item {
    margin-left: $backing;
    margin-top: $backing;
    flex-basis: calc(100% / 4 - 30px);
  }
}
