.projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @extend %marginCard;
  &__item {
    margin-left: $backing;
    margin-top: $backing;
    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.project-type {
  padding: 20px 24px;
  border-right: 1px solid $border-projectColor;
  border-bottom: 1px solid $border-projectColor;
  border-left: 1px solid $border-projectColor;
  &__projects {
    font-size: 16px;
    line-height: 1.87;
    text-align: left;
    color: $secondaryColor;
  }
}
